In [1]:
import numpy as np
import pandas as pd

In [2]:
Xception = pd.read_csv("Xception.csv")
VGG = pd.read_csv("VGG.csv")
ResNet50 = pd.read_csv("ResNet50.csv")
DenseNet201 = pd.read_csv("DenseNet201.csv")
InceptionResNetV2 = pd.read_csv("InceptionResNetV2.csv")

In [3]:
Majority_Vote = Xception

In [4]:
Majority_Vote['VGG'] = VGG['class']

In [5]:
Majority_Vote['ResNet50'] = ResNet50['class']

In [6]:
Majority_Vote['DenseNet201'] = DenseNet201['class']

In [7]:
Majority_Vote['InceptionResNetV2'] = InceptionResNetV2['class']

In [8]:
Majority_Vote['Xception'] = Xception['class']

In [9]:
Majority_Vote = Majority_Vote.drop(columns=["class"]).copy()

In [10]:
Majority_Vote

              id  VGG  ResNet50  DenseNet201  InceptionResNetV2  Xception
0       IMG_5922    5         5            5                  5         5
1       IMG_4066    5         5            5                  5         5
2       IMG_1194    2         2            2                  2         2
3    S__20275217    7         2            2                  2         2
4       IMG_7365    3         3            3                  3         3
..           ...  ...       ...          ...                ...       ...
127     IMG_0082    2         8            8                  8         8
128     IMG_4833    4         4            4                  4         4
129     IMG_0042    1         1            1                  1         5
130     IMG_8804    3         3            3                  3         3
131     IMG_7282    2         2            2                  2         2

[132 rows x 6 columns]

In [11]:
Majority_Vote.to_csv('Majority_Vote.csv', index = False)

In [12]:
all_Majority_Vote = []
from scipy import stats
for i in range(len(Majority_Vote)) :
    bb = stats.mode(Majority_Vote.iloc[i,[1,2,3,4,5]])
    bb = bb[0][0]
    all_Majority_Vote.append(bb)

In [13]:
all_Majority_Vote = pd.DataFrame(all_Majority_Vote , columns = ['class'])
Majority_Vote = pd.concat([Majority_Vote , all_Majority_Vote] , axis=1)

In [14]:
Majority_Vote.to_csv('Majority_Vote.csv', index = False)
Majority_Vote

,id,VGG,ResNet50,DenseNet201,InceptionResNetV2,Xception,class
0,IMG_5922,5,5,5,5,5,5
1,IMG_4066,5,5,5,5,5,5
2,IMG_1194,2,2,2,2,2,2
3,S__20275217,7,2,2,2,2,2
4,IMG_7365,3,3,3,3,3,3
...,...,...,...,...,...,...,...
127,IMG_0082,2,8,8,8,8,8
128,IMG_4833,4,4,4,4,4,4
129,IMG_0042,1,1,1,1,5,1
130,IMG_8804,3,3,3,3,3,3
131,IMG_7282,2,2,2,2,2,2

In [15]:
Majority_Vote = Majority_Vote.drop(columns=["VGG"]).copy()
Majority_Vote = Majority_Vote.drop(columns=["ResNet50"]).copy()
Majority_Vote = Majority_Vote.drop(columns=["DenseNet201"]).copy()
Majority_Vote = Majority_Vote.drop(columns=["InceptionResNetV2"]).copy()
Majority_Vote = Majority_Vote.drop(columns=["Xception"]).copy()

In [16]:
Majority_Vote.to_csv('Majority_Vote.csv', index = False)
Majority_Vote

              id  class
0       IMG_5922      5
1       IMG_4066      5
2       IMG_1194      2
3    S__20275217      2
4       IMG_7365      3
..           ...    ...
127     IMG_0082      8
128     IMG_4833      4
129     IMG_0042      1
130     IMG_8804      3
131     IMG_7282      2

[132 rows x 2 columns]